
/Lib
/Scripts
pyvenv.cfg
gpt_notebook/config/gpt-action-openapi-config-REAL.yaml
gpt_notebook/config/notebook-service-api-def-REAL.yaml
.vscode/launch.json
/text2SQL/__pycache__
/text2SQL/handlers/__pycache__
text2SQL/.env
/open-interpreter/Lib
/open-interpreter/Scripts
/share
autogen_agents/.cache/41/cache.db
/google_adk/file_system_agent/__pycache__
/google_adk/search_agent/__pycache__
/google_adk/weather_agent/__pycache__
/google_adk/research_agent/__pycache__
/mcp_toolbox/db
/mcp_toolbox/pgadmin-data
/google_adk/data_analyzer/__pycache__
/google_adk/random_notes/__pycache__
