
/Lib
/Scripts
pyvenv.cfg
gpt_notebook/config/gpt-action-openapi-config-REAL.yaml
gpt_notebook/config/notebook-service-api-def-REAL.yaml
.vscode/launch.json
/text2SQL/__pycache__
/text2SQL/handlers/__pycache__
text2SQL/.env
/open-interpreter/Lib
/open-interpreter/Scripts
/share
